<h1>Editing Etablissement Activity</h1>

<%= render 'form', etablissement_activity: @etablissement_activity %>

<%= link_to 'Show', @etablissement_activity %> |
<%= link_to 'Back', etablissement_activities_path %>
