<h1>Editing Company Registry Document</h1>

<%= render 'form', company_registry_document: @company_registry_document %>

<%= link_to 'Show', @company_registry_document %> |
<%= link_to 'Back', company_registry_documents_path %>
