
<div class="row">
   <div class="col-md-4 col-md-offset-1">
     <h1><%= juridic_form.name %></h1>
   </div>
 </div>
 <div class="row">
   <div class="col-md-8 col-md-offset-2">
     <p><%= juridic_form.description %></p>
   </div>
 </div>