<h1>Renseignez le formulaire suivant pour enregistrer un pays</h1>
<div class="row">
  <div class="col-md-10">

    <%= render 'form', country: @country %>

    <%= link_to 'Retour ', countries_path %>

  </div>
</div>

