@import "../../../node_modules/bootstrap/dist/css/bootstrap";

$light-gray:#777;

/* universal */

body {
  padding-top: 60px;
}

@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin flash-box{
  width: 600px;
  height: 80px;
  font-weight: bold;
  font-size: 15px;
  line-height: 50px;
  @include box_sizing;
}

.linkbtn{
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.alert-danger{
  @include flash-box;
  background: #ff4a1c;
  color: #fff;
}

.alert-success{
  @include flash-box;
  background: rgba(14,184,42,0.66);
  color: #fff;
}

.alert-warning{
  @include flash-box;
  background: rgba(255,74,28,0.66);
  color: #fff;
}

.alert-info{
  @include flash-box;
  background: rgba(10,11,127,0.66);
}

.flash-box-warning{
  @include flash-box;
  background: #ff4a1c;
  color: #fff;
}

.flash-box-danger{
  @include flash-box;
  background: #ff0a1b;
  color: #fff;
}




.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing
}

h1, h2, h3, h4, h5, h6{
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $light-gray;
  a{
    color: #555;
    &:hover{
      color: #222;
    }
  }

  small{
    float: left;
  }

  ul{
    float: right;
    list-style: none;
    li{
      float: left;
      margin-left: 15px;
    }
  }
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $light-gray;
  }
}